{% extends 'app.html.twig' %}

{% block content %}
    <div>
        <h3></h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Номер аудиторії</th>
                <th>Тип аудиторії</th>
            </tr>
            </thead>

            {% for auditory in auditories %}
                <tr>
                    <td><a href="{{ path('view_auditory_client', {'auditory_number' : auditory.auditory_number}) }}">{{auditory.auditory_number}}</a></td>
                    <td>{{auditory.auditory_type}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">На цій сторінці немає ні однієї аудиторії</td>
                </tr>
            {% endfor %}
        </table>

        {% if (pagination is defined) %}
            <div class="navigation">
                {% if pagination['prev_page'] >= 1 %}
                    <a href="{{ path('list_auditories_client') }}?page={{ pagination['prev_page'] }}">Попередня сторінка</a>
                {% endif %}
                <span>{{ pagination['current_page'] }}</span>
                <a href="{{ path('list_auditories_client') }}?page={{ pagination['next_page'] }}">Наступна сторінка</a>
            </div>
        {% else %}
            <div class="navigation">
                <a href="{{ path('list_auditories_client') }}?page=1">Перша сторінка</a>
            </div>
        {% endif %}
    </div>
{% endblock %}