{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div>
    <h3><a href="{{ path('create_subject') }}">Додати предмет</a></h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Назва предмета</th>
            <th>Викладачі</th>
        </tr>
        </thead>

        {% for subject in subjects %}
            <tr>
                <td><a href="{{ path('view_subject_client', {'subject_code' : subject.subject_code}) }}">{{subject.subject_name}}</a></td>
                <td>
                    {% for teacher in subject.teachers %} <a href="{{ path('view_teacher_client', {'teacher_code' : teacher.teacher_code}) }}">{{ teacher.teacher_surname }} {{ teacher.teacher_name }} {{ teacher.teacher_last_name }}</a> {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}