{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div>
        <form action="{{ path('story_subject') }}" method="POST">
            <div>
                <input type="text" id="subject_name" name="subject_name" />
            </div>

            <div>
                <select name="teachers[]" id="teachers" multiple>
                    {% for teacher in teachers %}
                        <option value="{{ teacher.teacher_code }}">{{ teacher.teacher_surname }} {{ teacher.teacher_name }} {{ teacher.teacher_last_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <button type="submit">Створити</button>
            </div>
        </form>
    </div>
{% endblock %}