{% extends "admin/admin.html.twig" %}

{% block content %}
    <div>
        <div>
            <h3 align="center">Створення нової події</h3>
        </div>
        <form action="{{ path('story_event') }}" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="event_date_start" class="col-sm-2 control-label">Дата початку події</label>

                <div class="col-sm-9">
                    <input type="date" class="form-control" name="event_date_start" id="event_date_start" />
                </div>
            </div>

            <div class="form-group">
                <label for="event_date_end" class="col-sm-2 control-label">Дата кінця події</label>

                <div class="col-sm-9">
                    <input type="date" class="form-control" name="event_date_end" id="event_date_end" />
                </div>
            </div>

            <div class="form-group">
                <label for="event_time_start" class="col-sm-2 control-label">Час початку події</label>

                <div class="col-sm-9">
                    <input type="time" class="form-control" name="event_time_start" id="event_time_start" />
                </div>
            </div>

            <div class="form-group">
                <label for="event_time_end" class="col-sm-2 control-label">Час кінця події</label>

                <div class="col-sm-9">
                    <input type="time" class="form-control" name="event_time_end" id="event_time_end" />
                </div>
            </div>

            <div class="form-group">
                <label form="teacher" class="col-sm-2 control-label">Викладач</label>

                <div class="col-sm-9">
                    <select id="teacher" name="teacher" class="form-control">
                        {% for teacher in teachers %}
                            <option value="{{ teacher.teacher_code }}">{{ teacher.teacher_surname }} {{ teacher.teacher_name }} {{ teacher.teacher_last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="group_course" class="col-sm-2 control-label">Рік вступу</label>

                <div class="col-sm-9">
                    <input type="number" min="2000" max="2015" class="form-control" name="group_course" id="group_course"/>
                </div>
            </div>

            <div class="form-group">
                <label for="event_type" class="col-sm-2 control-label">Тип події</label>

                <div class="col-sm-9">
                    <select name="event_type" id="event_type" class="form-control">
                        <option value="1">Лабораторна робота</option>
                        <option value="2">Лекція</option>
                        <option value="3">Інше</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="repeat_type" class="col-sm-2 control-label">Тип повторення</label>

                <div class="col-sm-9">
                    <select name="repeat_type" id="repeat_type" class="form-control">
                        <option value="0">Одиночка подія</option>
                        <option value="1">Кожний день</option>
                        <option value="2">Кожний тиждень</option>
                        <option value="3">Кожний місяць</option>
                        <option value="4">Виключення</option>
                    </select>
                </div>
            </div>

            <div id="repeat_area">

                <div id="everymonth">

                </div>

                <div id='exception'>

                </div>
            </div>

            <div>
                <button type="submit">Створити</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/app.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../assets/css/own.css">
{% endblock %}