<div>
    <h3>{{ message }}</h3>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Код події</th>
                <th>Дата початку</th>
                <th>Дата кінця</th>
                <th>Час початку</th>
                <th>Час кінця</th>
                <th>Повторення</th>
                <th>Тип</th>
            </tr>
            </thead>


            {% for event in events %}
                <tr>
                    <td><a href="{{ path('view_event_client', {'event_code' : event.event_code}) }}">{{ event.event_code }}</a></td>
                    <td>{{ event.event_date_start }}</td>
                    <td>{{ event.event_date_end }}</td>
                    <td>{{ event.event_time_start }}</td>
                    <td>{{ event.event_time_end }}</td>
                    <td>{{ event.repeat_type }}</td>
                    <td>{{ event.event_type }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>