{% extends 'app.html.twig' %}

{% block content %}
    <div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>П. І. Б.</th>
                <th>Номер телефону</th>
            </tr>
            </thead>

            {% for teacher in teachers %}
            <tr>
                <td>
                    <a href="{{ path('view_teacher_client', {'teacher_code': teacher.teacher_code}) }}">{{teacher.teacher_surname}} {{teacher.teacher_name}} {{teacher.teacher_last_name}}</a>
                </td>

                <td>
                    {{teacher.teacher_phone}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}