{% extends 'app.html.twig' %}

{% block content %}
    <div>
        <div>
            П.І.Б: {{teacher.teacher_surname}} {{teacher.teacher_name}} {{teacher.teacher_last_name}}
        </div>

        <div>
            Номер телефону: {{ teacher.teacher_phone }}
        </div>

        <div>
            Предмети: {% for subject in teacher.subjects %} <a href="{{ path('view_subject_client', {'subject_code' : subject.subject_code}) }}">{{ subject.subject_name }}</a> {% endfor %}
        </div>

        {% include "events/events_list.html.twig" with {'events' : teacher.events, 'message': 'Події в цього викладача'} %}
    </div>
{% endblock %}