{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div>
        <a href="{{ path('create_group') }}" class="btn btn-primary">Добавить групу</a>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Назва групи</th>
                <th>Рік вступу</th>
                <th>Кількість людей</th>
            </tr>
            </thead>

            {% for group in groups %}
                <tr>
                    <td><a href="{{ path('view_group_client', {'group_code' : group.group_code}) }}">{{ group.group_name }}</a></td>
                    <td>{{ group.group_course }}</td>
                    <td>{{ group.group_students_count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}